#countries {
    color: wheat;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.country {
    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.country-name {
    font-size: 45px;
    color: magenta;
}

#countryDetails img {
    width: 300px;
}

footer {
    color: aliceblue;
    text-align: center;
}

footer a {
    color: rgb(114, 228, 0);
    cursor: pointer;
}

footer a:hover {
    font-weight: bold
}